body{
    margin: 0 auto;
    background-image:url("https://cdn2.vectorstock.com/i/1000x1000/16/21/cloud-seamless-background-endless-cartoon-vector-17321621.jpg");
    background-color: #6ecded;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    font-family: "Open Sans",sans-serif;
    color: #404E65;
    font-size: 15px;
    line-height: 18px;
    word-wrap: break-word;

    

}
.page{
    background-color: white;
    min-width: 320px;
    width: 100%;
    position:relative;
    max-width: 1200px;
    margin: 0 auto;
}
div {
    display: block;
}
.header{
    position: relative;

    
}
.container{
    display: flex;
    justify-content: space-between;
    
}
span{
font-size: 7.5px;
letter-spacing: 2px;
display: block;
text-transform: uppercase;
padding-bottom: 16px;
cursor: pointer;
text-align: center;
}

.icon1{
width: 120px;
  height: 120px;
  overflow: hidden;
  padding-right: 30px;
  cursor: pointer;
  text-align: center;
}
.icon1 img{
    width: initial;
    height: 100%;
}


.icon{
    text-align: center;
    width: 90px;
      height: 60px;
      overflow: hidden;
      margin: 10px;
      padding: 20px;
      cursor: pointer;
    }
.icon img{
    width: initial;
    height: 100%;
}


@media (max-width: 1200px){
body{
    background: none;
}
}
@media (max-width: 768px){
.page {
    overflow: hidden;
}
}
@media (max-width: 991px) {
.header{
height: auto;
padding: 23px 0;
text-align: center;
}
    
}