.clothes{
    background-color: white;
}


.clothes .title{
    margin: 9rem  0 0 0;
    text-align: center;
}
.title h1{
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
    color: rgb(224, 129, 145);
    font-family: 'Alfa Slab One', cursive;

}
.general{
    margin:0rem 2rem 0rem 3rem;
    display: flex;
    justify-content: space-between;
}

.general img{
    width: 220px;
    height: 220px;
    display: block;
}
.general button{
    width: 75px;
    height: 35px;
}

.center{
    text-align: center;
    
}

.one1{
    border:  1px solid rgb(209, 204, 204);
    height: 350px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    color: rgb(224, 129, 145);
    
    
    
}
.one2{
    border:  1px solid rgb(209, 204, 204);
    height: 350px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    color: rgb(224, 129, 145);
    
    
}
.one3{
    border:  1px solid rgb(209, 204, 204);
    height: 350px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    color: rgb(224, 129, 145);
    
    
}
.one4{
    border:  1px solid rgb(209, 204, 204);
    height: 350px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    color: rgb(224, 129, 145);
    
    
}

.general1{
    margin:0rem 2rem 0rem 3rem;
    display: flex;
    justify-content: space-between;
}

.general1 img{
    width: 220px;
    height: 220px;
}
.general1 button{
    width: 75px;
    height: 35px;
}

